<p id="notice"><%= notice %></p>

    <% @posts.each do |post| %>
<div class="panel panel-default">
  <div class="panel-heading"><%= post.tittle %></div>
  <div class="panel-body">
    <p><%= post.content %></p>
    <p><small><%= link_to post.category.name, category_path(post.category_id) %></small></p>
    <%= link_to 'Show', post %>
  </div>
</div>
    <% end %>