<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @post.tittle %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Category-id:</strong>
  <%= @post.category_id %>
</p>


<%= link_to 'Back', posts_path %>
